<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程 -->
<Configuration status="INFO">
	<Properties>
		<Property name="LOG_HOME">C:\\logs\\log\\</Property>
		<!-- 日志备份目录 -->
		<Property name="BACKUP_HOME">{LOG_HOME}/backup</Property>
		<Property name="MQ_NAME">mq.log</Property>
		<Property name="SERVER_NAME">global.log</Property>
		<Property name="FILE_NAME">log.log</Property>
	</Properties>
	<Appenders>
		<!-- 定义控制台输出 -->
		<Console name="Console" target="SYSTEM_OUT">
<!-- 			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" /> -->
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%C{1}:%line:%M] - %msg%n" />
		</Console>

		<!-- 程序员调试日志 -->
		<RollingRandomAccessFile name="File" fileName="${LOG_HOME}/${SERVER_NAME}"
			filePattern="${LOG_HOME}/${SERVER_NAME}.%d{yyyy-MM-dd-HH}.log">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingRandomAccessFile>
		
		<RollingRandomAccessFile name="mqAppender" fileName="${LOG_HOME}/${MQ_NAME}"
			filePattern="${LOG_HOME}/${MQ_NAME}.%d{yyyy-MM-dd-HH}.log">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingRandomAccessFile>
		
	</Appenders>
	<Loggers>
		<!-- 第三方 Loggers -->
		<Logger name="org.apache" level="INFO" additivity="true">
		</Logger>
		<Logger name="com.mchange.v2" level="INFO" additivity="true">
		</Logger>

		<Logger name="org.hibernate" level="INFO" additivity="true">
		</Logger>
		<Logger name="com.vteba" level="INFO" additivity="true">
		</Logger>
		<Logger name="com.vteba.tx" level="DEBUG" additivity="true">
		</Logger>

		<Logger name="org.mybatis" level="DEBUG" additivity="true">
		</Logger>

		<Logger name="com.vteba.logger" level="TRACE" additivity="true">
		</Logger>
		<!-- 打印mybatis sql -->
		<Logger name="org.apache.ibatis" level="TRACE" additivity="true">
		</Logger>
		<Logger name="java.sql" level="TRACE" additivity="true">
		</Logger>
		<Logger name="com.ibatis" level="TRACE" additivity="true">
		</Logger>
		<Logger name="org.jboss" level="INFO" additivity="true">
		</Logger>
		<Logger name="org.springframework" level="INFO" additivity="true">
		</Logger>
		<Logger name="org.springframework.tx" level="DEBUG" additivity="true">
		</Logger>
		<Logger name="org.springframework.web" level="INFO" additivity="true">
		</Logger>
		<Logger name="org.springframework.orm" level="INFO" additivity="true">
		</Logger>
		<Logger name="org.springframework.mvc" level="INFO" additivity="true">
		</Logger>
		<Logger name="com.alibaba.rocketmq" level="WARN" additivity="true">
		</Logger>
		<Logger name="com.alibaba.dubbo" level="INFO" additivity="true">
		</Logger>
		<Logger name="com.vteba.mq.rocketmq" level="DEBUG">
			<AppenderRef ref="mqAppender" />
		</Logger>
<!-- 		<Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="true"> -->
<!-- 		</Logger> -->

		<!-- Root Logger -->
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>